:host {
  display: flex;
  flex-direction: column;
  margin: auto 1em;
}

@media screen and (min-width: 40em) and (max-width: 87.49em) {
  .passengers__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 87.5em) {
    .passengers__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}
