@use '/src/styles/themes/variables.scss' as var;

:host {
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.summary__indicator {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  p {
    color: var.$primary-color;
    font-size: 1rem;
    margin-bottom: 0.875em;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: #fff;
    background-color: var.$primary-color;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    &:hover {
      background-color: var.$button-hover;
    }
    &:active {
      background-color: var.$button-active;
    }
  }
}
