@use '../../../styles/themes/variables.scss' as var;

.menu {
  background-color: var.$dark-primary-color;
  color: var.$white-color;
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}