@use '../../../styles/themes/variables.scss' as var; 

mat-sidenav {
  background-color: var.$secondary-color;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 56px;
  text-align: center;
  padding: 1em;
  @media screen and (min-width: 600px) {
    margin-top: 64px;
  }
  & .logo{
    margin-top: 1em;
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
  }
  & .name{
    margin-top: 1em;
    font-weight: normal;
    color: var.$white-color;
  }
  & .asignation{
    margin-top: 2px;
    color: var.$white-color;
  }
}

mat-sidenav-container {
  height: 100vh;
}

.menu__btn {
  mat-icon,
  span {
    color: var.$white-color;
    font-weight: bold;
  }
}

mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: var.$white-transparent;
}

.content {
  margin-top: 56px;
  @media screen and (min-width: 600px) {
    margin-top: 64px;
  }
}
