$primary-color : #ab4493;
$secondary-color : #be4aa3;
$dark-primary-color: #ad208c;

$white-color: #fff;
$shadow: rgba(0, 0, 0, 0.25);
$white-transparent: rgba(255, 255, 255, 0.5);

$form-background: #fbfbfb;

$invalid-background: #ffe2e2;
$valid-background: #fbdaed;

$button-hover: #ce569a;
$button-active: #c775a3;
$button-disabled: #505050;

$button-delete-hover: #6d6875;
$button-delete-active: #ec4773;

$error-color: #bd0c0c;

$progress-background: #e694c2;

$black-color: #000;
$black-trasnparent: #333;