@use '/src/styles/themes/variables.scss' as var;

.passenger {
  background-color: var.$white-color;
  box-shadow: 0px 4px 4px var.$shadow;
  border-radius: 0.25rem;
  padding: 1em;
  margin-bottom: 1em;
  & .passenger__data {
    color: var.$black-color;
    font-size: 0.875em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 1em;
      font-size: 24px;
      width: 24px;
      height: 24px;
      color: var.$primary-color;
    }
    span {
      color: var.$black-trasnparent;
    }
  }
  & .btn__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    button {
      background-color: var.$primary-color;
      color: var.$white-color;
      font-size: 0.875rem;
      border: none;
      border-radius: 0.25em;
      cursor: pointer;
      padding: 0.5em 1em;
      &:first-child {
        &:hover {
          background-color: var.$button-hover;
        }
        &:active {
          background-color: var.$button-active;
        }
      }

      &:last-child {
        &:hover {
          background-color: var.$button-delete-hover;
        }
        &:active {
          background-color: var.$button-delete-active;
        }
      }
    }
  }
}
