@use '../../../../../styles/themes/variables.scss' as var;

:host {
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

.form {
  height: auto;
  border-radius: 0.7em;
  padding: 1em;
  background-color: var.$form-background;
  box-shadow: 0px 4px 4px var.$shadow;
  @media screen and (min-width: 850px) {
    width: 42em;
    margin: 0 auto;
  }
  & .form__title {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: var.$primary-color;
    margin-bottom: 1em;
  }
  & .form__container {
    display: flex;
    flex-direction: column;
  }
}

.form__control {
  @extend .form__container;

  label {
    display: block;
    float: center;
  }
  input,
  select {
    background-color: var.$form-background;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var.$primary-color;
    margin-top: 0.35em;
    padding-left: 0.7em;
    margin-bottom: 1em;
    &:focus {
      outline-color: var.$primary-color;
    }
    &.ng-invalid.ng-dirty,
    &.ng-invalid.ng-touched {
      outline: 1px solid var.$error-color;
      background-color: var.$invalid-background;
    }
    &.ng-valid {
      background-color: var.$valid-background;
    }
  }
}

.btn__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  button {
    background-color: var.$primary-color;
    color: #fff;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0.7em 1em;
    &:hover {
      background-color: var.$button-hover;
    }

    &:active {
      background-color: var.$button-active;
    }

    &:disabled {
      background-color: var.$button-disabled;
      cursor: not-allowed;
    }
    @media screen and (max-width: 280px) {
      &:nth-child(2) {
        margin-top: 1em;
      }
    }
  }
}
