@use '../../../../../styles/themes/variables.scss' as var;

.register__alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  p {
    font-size: 1rem;
    color: var.$primary-color;
    font-weight: bold;
  }
}

.register__progress {
  @extend .register__alert;
  progress {
    background-color: var.$progress-background;
    appearance: none;
    accent-color: var.$dark-primary-color;
    width: 100%;
    margin-right: 1em;
    margin-left: 1em;
    height: 20px;
    border-radius: 10px;
    @media screen and (min-width: 850px) {
      width: 38.5em;
    }
  }
  progress::-webkit-progress-bar {
    background-color: var.$progress-background;
    border-radius: 10px;
  }
  progress::-webkit-progress-value {
    background-color: var.$dark-primary-color;
    border-radius: 10px;
    transition: width 0.4s ease-in;
  }
  progress::-moz-progress-bar {
    background-color: var.$primary-color;
    border-radius: 10px;
    transition: width 0.4s ease-in;
  }
}

.verify__btn {
  @extend .register__alert;
  a {
    text-decoration: none;
    font-size: 0.875rem;
    color: #fff;
    background-color: var.$primary-color;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    &:hover {
      background-color: var.$button-hover;
    }
    &:active {
      background-color: var.$button-active;
    }
  }
}
